<header>
  <h1>{{page.title}}</h1>
</header>
<nav>
  <ul class='main-menu'>
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a href="{{site.baseurl}}/projects/index.html">Projects</a></li>
    <li><a href="{{site.baseurl}}/blog-index.html">Blog</a>
      <ul class="sub-menu">
        <li>
          <ul>Technical Posts
            {% for category in site.categories.technical %}
            <li><a href="{{site.baseurl}}{{ category.url }}">{{category.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <ul>Cultural Posts
            {% for category in site.categories.cultural %}
            <li><a href="{{site.baseurl}}{{ category.url }}">{{category.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="mailto:xiranou@gmail.com">Contact Me</a></li>
  </ul>
</nav>