<head>
  <meta charset="UTF-8">
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script|Vollkorn' rel='stylesheet' type='text/css'>
  <title>Xiran Ou</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/reset.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/index.css">
  <script src="{{site.baseurl}}/JavaScript/jquery-1.11.1.min.js"></script>
  <script src="{{site.baseurl}}/JavaScript/index.js"></script>
</head>