<div class="social-icon">
    <div class="container">
      <a href="#"><img src="{{site.baseurl}}/imgs/Facebook-icon.png" alt="Facebook"></a>
      <a href="https://github.com/xiranou/" target='_blank'><img src="{{site.baseurl}}/imgs/GitHub-icon.png" alt="GitHub"></a>
      <a href="#"><img src="{{site.baseurl}}/imgs/LinkedIn-icon.png" alt="Linkedin"></a>
    </div>
  </div>

  <footer class="footer">
    <section>
      <p>&copy;Xiran Ou
        {{ page.date | date: '%B %d, %Y' }}
      </p>
    </section>
  </footer>
</body>
</html>