<!DOCTYPE html>
<html>
<head>
  <title>DBC Blog</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.baseurl}}/css/reset.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/blog-stylesheet.css">
</head>
<body>
  <header>
    <h3><span>X</span>iran <span>O</span>u's Bizarre Adventures</h3>
    <p>... my unexpected journey into a world of codes</p>
  </header>