<div class="side">
    <nav>
      <ul>
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/project-index.html">Projects</a></li>
        <li><a href="mailto:xiranou@gmail.com">Contact Me</a></li>
        <li>Recent Posts
          <ul id='sub-menu'>
            <li><a href="#sub-menu">Technical Blogs</a>
              <ul>
                {% for category in site.categories.technical %}
                <li><a href="{{site.baseurl}}{{ category.url }}">{{category.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="#sub-menu">Cultural BLogs</a>
              <ul>
                {% for category in site.categories.cultural %}
                <li><a href="{{site.baseurl}}{{ category.url }}">{{category.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
        <li>Archives
          <ul>
            <li><a href="{{site.baseurl}}/blog-index.html">Index</a></li>
            <!-- <li><a href="#">date</a></li> -->
          </ul>
        </li>
      </ul>
    </nav>
  </div>