body{
  background-color: #B2CCFF;
}

.title-box{
  text-align: center;
  padding-bottom: 30px;
  background-color:#E8F0FF;
}

#blog-title{
  font-family: cursive;
  font-size: 40px;
  margin-bottom: -30px;
}

#subtitle{
  font-family: cursive;
  font-size: 20px;
  margin-bottom: -20px;
}

.title-box p{
  padding-top: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.blog-text{
  background-color:#E8F0FF;
  float: left;
  width: 85%;
  height: 500px;
  margin-top: 30px;
}

.blog-text .container{
  text-indent: 50px;
  text-align: justify;
  white-space: pre-wrap;
  padding-left: 5em;
  padding-right: 5em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

.nav-box{
  background-color: #99CCFF;
  float: right;
  width: 15%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  display: block;
}

#link-list{
  margin-top: 40px;
}

.nav-box ul{
  text-align: left;
}

.nav-box li{
  list-style-position: inside;
  list-style: circle;
  padding-left: 1em;
}

a:hover{
  color: red;
}

.footer{
  clear: both;
  text-align: center;
}