html{
  background-color: #F0E8D9;
}

.header{
  border-bottom: 10px dotted black;
  text-align: center;
  font-family: Georgia, serif
}

.header h3{
  font-size: 40px;
}

.header p{
  font-size: 25px;
}

.blog{
  padding: 10px 10px 10px 10px;
  float: left;
  width: 80%;
  height: 40em;
  font-family:Georgia, serif;
}

.title{
  text-align: center;
  font-size: 35px;
  margin-bottom: -10px;
}

.sub-title{
  text-align: center;
  font-size: 20px;
}

.blog article{
  overflow: scroll;
  height: 95%;
  padding: 10px 60px 10px 60px;
}

#post{
  white-space: pre-wrap;
  text-indent: 50px;
  margin-top: -10px;
  font-size: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  line-height: 150%;
}

.nav-box{
  float: right;
  width: 15%;
  height: 40em;
  padding: 50px 10px 10px 10px;
}

.nav-box>.container{
  width: 90%;
  height: 95%;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.nav-box a{
  text-decoration: none;
}

.nav-box ul{
  list-style-position: inside;
  text-align: left;
  text-indent: -10px;
}

a{
  color: #000099;
}

a:visited{
  color: #7D2B00;
}

a:hover{
  color:#006600;
}

.footer{
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: 3px dotted black;
}