html{
  background-color: #F0E8D9;
}

.header{
  border: 1px solid black;
  text-align: center;
}

.header h3{
  font-size: 35px;
}

.header p{
  font-size: 20px;
  margin-top: -20px;
}

.blog{
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  float: left;
  width: 80%;
  height: 35em;
}

.post{
  border: 1px solid black;
  white-space: pre-wrap;
  height: 100%;
  padding: 10px 10px 10px 50px;
}

.title{
  text-align: center;
  font-size: 30px;
  margin-top: -50px;
}

.nav-box{
  border: 1px solid black;
  float: right;
  width: 15%;
  height: 35em;
  padding: 10px 10px 10px 10px;
}

.footer{
  clear: both;
}