body{
  background: url("../imgs/BlackWood.png");
  color: white;
}

header{
  border: 1px solid white;
  margin-bottom: 20px;
  text-align: center;
}

a:hover{
  color: green;
}

a:visited{
  color: red;
}

header li{
  display: inline;
  margin-right: 10px;
}

.main{
  border: 1px solid white;
  height: 400px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.social-icon{
  text-align: center;
  margin-bottom: 20px;
}

.social-icon img{
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

footer{
  border: 1px solid white;
  text-align: center;
}