html {background-color: red;}
header{text-align: center;}
header h1 {
  border: 1px solid black;
  font-family: 'Roboto Condensed', sans-serif;}
.name {
  border: 1px solid black;
  display: inline-block;
  width: 9em;
}
.main {
  width: 100%;
}
section {
  float: left;
  width: 30%;
  padding-left: 0.5em;
}
.reflection{
    clear: both;
}
.reflection h3{
    text-align: center;
}