html{
  background-color: #FFBE74;
  width: auto;
}

body{
  font-size: 1em;
  color: #42311E;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

header{
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3%;
  width: 100%;
  border-bottom: thick solid red;
}

header h3{
  width: 100%;
  font-size: 1.5em;
}

.container{
  width: auto;
  height: 100%;
}

.container section{
  float: left;
  width: 40%;
  height: 100%;
  padding-left: 4.5em;
  padding-right: 1.5em;
}

.container section p{
  font-size: 120%;
  text-decoration: underline;
}

.container section ul{
  padding-top: 2em;
  padding-bottom: 2em;
}

.container section ul li{
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container section ul li code{
  display: inline-block;
  white-space: pre-line;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  line-height: 2.5em;
  word-spacing: 0.15em;
  font-family: 'Montserrat', sans-serif;
}

footer{
  clear: both;
  width: 100%;
  text-align: center;
}

footer section{
  border-top: thick solid red;
  margin-bottom: 2%;
  padding-top: 2em;
  width: 100%
}